.vscode
*.exe
*.o
*.VC*
*.vcprojx
*.sln
*.vcxproj*
*.tlog
*.log
*.obj
*.pdb
*.lastbuildstate
*.idb
.suo
unsuccessfulbuild

/Chapter4/echo_client
/WinClients/Debug/*
/WinClients/Debug/echo_server_win/*
/WinClients/WinClients/Debug/*
/WinClients/ch7_inet_addr_win/Debug/*
/WinClients/.vs/*
/WinClinet/.vs/WinClients/*
